@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Light.woff') format('woff');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Regular.woff') format('woff');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Ultrabold.woff') format('woff');
    font-weight: 700;
  }


  /* tit  */
  @font-face {
    font-family: 'Catamaran', sans-serif;
    src: url('../fonts/Catamaran-Light.ttf') format('ttf');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Catamaran', sans-serif;
    src: url('../fonts/Catamaran-Regular.ttf') format('ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Catamaran', sans-serif;
    src: url('../fonts/Catamaran-Medium.ttf') format('ttf');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Catamaran', sans-serif;
    src: url('../fonts/Catamaran-Bold.ttf') format('ttf');
    font-weight: 700;
  }

  /* kr  */
  @font-face {
    font-family: 'Pretendard', sans-serif;
    src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Pretendard', sans-serif;
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Pretendard', sans-serif;
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Pretendard', sans-serif;
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
  }


  /* add  */
/* dance  */
  /* @font-face {
    font-family: 'Adieu', sans-serif;
    src: url('../fonts/Adieu-Light.woff2') format('woff2');
    font-weight: normal;
  } */


  
  /* guilia  */

  @font-face {
    font-family: 'Roslindale', sans-serif;
    src: url('../fonts/Roslindale-Regular.woff2') format('woff2');
    font-weight: 400;
  }